body{
    background-color: rgb(17, 98, 40);
    animation-name: bod;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}
@keyframes bod {
    from{
        background-color: #00ff77;
    }    
    to{
        background-color: rgb(146, 108, 21);
    }

}